.home__nav img {
  width: 200px;
}
.logo__con img {
  width: 100%;
}

.home__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  cursor: pointer;
  top: 0;
  width: 100%;
  padding: 20px 40px ;
  z-index: 1000;
  border-bottom: 2px solid #d9d9d9;
  background-color: transparent;

}

.home__nav ul {
  display: flex;
  gap: 40px;
  font-size: 16px;
  font-weight: 550;
  font-family: "Schibsted Grotesk";
  
}

.nav_link {
  color: rgba(0, 0, 0, 0.85);
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav_link:hover {
  transform: scale(1.1);
  color: var(--Gulf-Blue-950, #001a52);
}

.home__nav button {
  border: none;
  z-index: 2000;
  position: relative;
  transition: 0.3s;
  display: none;
  /* display: block; */
  background-color: transparent;
  border: none;
  z-index: 2000;
  position: relative;
  transition: 0.3s;
}


@media (max-width: 900px) {
  .nav__container {
    display: flex;
    padding: 30px 70px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .nav__list {
    display: flex;
    gap: 40px;
    font-size: 15px;
    font-weight: 500;
  }

  .link {
    color: var(--Gulf-Blue-50, #e9f7ff);
    cursor: pointer;
  }

  .home__nav {
    padding: 20px 20px 10px 5px;
  }

  .home__nav a {
    color: #0e0d0d;
    z-index: 2000;
    font-size: 40px;
    font-family: "Schibsted Grotesk";

  }

  .home__nav ul li a:not(.active) {
    opacity: 0.5;
  }
  .home__nav ul li {
    position: relative;
    z-index: 1000;
  }


  .home__nav button span {
    height: 2px;
    width: 30px;
    display: block;
    background-color: #fff;
    z-index: 1000;
    transform-origin: center;
    transition: 0.5s;
    cursor: pointer;
  }
  .home__nav button {
    border: none;
    z-index: 2000;
    position: relative;
    transition: 0.3s;
    /* display: none; */
    display: block;
    background-color: transparent;
    border: none;
    z-index: 2000;
    position: relative;
    transition: 0.3s;
  }

  .open {
    display: flex !important;
    pointer-events: unset !important;
    opacity: 1 !important;
    font-size: 10px;
  }
  .home__nav button span:nth-child(1) {
    margin-bottom: 5px;
  }

  .home__nav button span:nth-child(2) {
    width: 30px;
  }

  .menu span:last-child {
    transform: translateY(1px) rotate(-45deg);

    width: 30px;
  }
  .menu span:first-child {
    transform: translateY(8px) rotate(45deg);
    width: 30px;
  }
 
  .open .colors {
    transform: translateY(0%) !important;
  }
  .home__nav li {
    opacity: 0;
    transition: 0.15s;
    padding: 0;
  }
  .open li {
    opacity: 1;
    transition-delay: 0.1s;
  }

  .nav__container {
    display: flex;
    padding: 30px 70px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin: 0 auto;
    font-family: "Kufam";
    margin-bottom: 50px;
  }

  .nav__list {
    display: flex;
    gap: 40px;
    font-size: 15px;
    font-weight: 500;
  }

  .home__nav img {
    width: 200px;
  }

  .logo__con img {
    width: 100%;
  }

  .link {
    color: var(--Gulf-Blue-50, #e9f7ff);
    cursor: pointer;
  }

  .home__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    cursor: pointer;
    top: 0;
    z-index: 10000;
    font-family: "Kufam";
  }



  .home__nav ul li a:not(.active) {
    opacity: 0.5;
  }

  .home__nav ul li {
    position: relative;
    z-index: 1000;
    padding: 5px 30px;
  }

  .nav_link {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
  }

  .home__nav ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    overflow: hidden;
  }

  .home__nav button span {
    height: 2px;
    width: 30px;
    display: block;
    background-color: #fff;
    z-index: 1000;
    transform-origin: center;
    transition: 0.5s;
    cursor: pointer;
  }

  .open {
    display: flex !important;
    pointer-events: unset !important;
    opacity: 1 !important;
    font-size: 10px;
    font-family: "kufam";
  }

  .home__nav button span:nth-child(1) {
    margin-bottom: 5px;
  }

  .home__nav button span:nth-child(2) {
    width: 30px;
  }

}
